---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Vanshika Pundir</div>
    <div class="text-3xl py-3 font-bold">MCA Graduate & Frontend Developer</div>
    <div class="py-2 max-w-xl">
      <p class="text-lg">
        Passionate about creating engaging and efficient web applications using React, AWS, and modern web technologies.
        This is my personal portfolio built with Astro and TailwindCSS.
      </p>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:vanshikapundir2001@gmail.com" target="_blank">Let's connect!</a>
      <a href="https://github.com/vanshikapundir2001/my-portfolio" target="_blank" class="btn btn-outline ml-5">
        View Source Code
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Drogher's Hub Admin Dashboard"
    img="/post_img.webp"
    desc="Updated and optimized the admin dashboard by integrating dynamic, real-time graphs to track sales trends, user activity, and inventory status."
    url="https://github.com/orgs/droghers-hub/dashboard"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Caption Generator using Machine Learning"
    img="/post_img.webp"
    desc="Built a CNN-LSTM model to automate video caption generation with Python and AWS."
    url="https://github.com/vanshikapundir2001/caption-generator"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Personal Portfolio Website"
    img="/post_img.webp"
    desc="Built a personal portfolio website with Astro and TailwindCSS to showcase projects and blogs."
    url="https://github.com/VanshikaPundir/my-portfolio"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
