---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Vanshika Pundir
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://github.com/VanshikaPundir/my-portfolio" target="_blank" class="font-bold">Vanshika Pundir</a> using
    <a href="https://astro.build/" target="_blank" class="font-bold">Astro</a> &amp; <a href="https://tailwindcss.com/" target="_blank" class="font-bold">TailwindCSS</a>
  </div>
</footer>
